ion-content {
    ion-grid {
        max-height: calc( 100vh - var(--ion-tabs-top) - var(--ion-tabs-bottom) );

        margin-top: var(--ion-tabs-top);
        margin-bottom: var(--ion-tabs-bottom);
    }
}