<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div class="characterIdentity">
          <img
            src="/assets/images/Characters/Portraits/{{ characterDetails.house.replace(' ', '_') }}/{{ characterDetails.name }}_Portrait.png"
            alt="{{ characterDetails.name }}" title="{{ characterDetails.name }}">
          <img class="characterHouse" src="/assets/images/Houses/{{ characterDetails.house.replace(' ', '_') }}.png"
            alt="{{ characterDetails.house }}" title="{{ characterDetails.house }}">
        </div>
      </ion-col>

      <ion-col size="8" align-self-end>
        <ion-row>
          <ng-container *ngFor="let crest of crest; let i = index">
            <ion-col class="characterIdentityCol">
              <img class="crestPicto" src="/assets/images/Crests/{{ crest.name }}.png" alt="{{ crest.name }}"
                title="{{ crest.name }}" *ngIf="crest.name != ''">
              <p (click)="presentPopoverCrest($event, i)">{{ crest.name }}</p>
            </ion-col>
          </ng-container>
        </ion-row>

        <ion-row>
          <ion-col class="characterIdentityCol">
            <img class="personalAbilityPicto"
              src="/assets/images/Abilities/Ability_Picto_{{ personalAbility.linkID }}.png"
              alt="{{ personalAbility.name }}" title="{{ personalAbility.name }}">
            <p (click)="presentPopoverPersonalAbility($event)">{{ personalAbility.name }}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="table">
      <ion-col size="12">
        <p class="tableTitle">Growth Rates</p>
      </ion-col>

      <ion-col class="tableCol" size="12">
        <ion-row class="rowHeader">
          <ion-col class="colHeader" *ngFor="let stat of stats">
            <p>{{ stat }}</p>
          </ion-col>
        </ion-row>

        <ion-row class="rowBody">
          <ion-col class="colBody" *ngFor="let growthRate of characterStatsModifier">
            <p>{{ growthRate }}%</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="table">
      <ion-col size="12">
        <p class="tableTitle">Stats Modifier</p>
      </ion-col>

      <ion-col class="tableCol" size="12">
        <ion-row class="rowHeader">
          <ion-col class="colHeader" *ngFor="let stat of stats">
            <p>{{ stat }}</p>
          </ion-col>
        </ion-row>

        <ion-row class="rowBody">
          <ion-col class="colBody" *ngFor="let statModifier of characterStatsModifier">
            <p>{{ statModifier }}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="table">
      <ion-col size="12">
        <p class="tableTitle">Proficiencies</p>
      </ion-col>

      <ion-col class="tableCol" size="12">
        <ion-row class="rowHeader">
          <ion-col class="colHeader" *ngFor="let mastery of masteries">
            <img src="/assets/images/Masteries/{{ mastery.replace(' ', '_') }}.png" alt="{{ mastery }}"
              title="{{ mastery }}">
          </ion-col>
        </ion-row>

        <ion-row class="rowBody">
          <ion-col class="colBody" *ngFor="let mastery of masteries">
            <img src="/assets/images/Masteries/Mastery_Strong.png" alt="{{ mastery }}" title="{{ mastery }}"
              *ngIf="getStrongMastery(mastery)">
            <img src="/assets/images/Masteries/Mastery_Weak.png" alt="{{ mastery }}" title="{{ mastery }}"
              *ngIf="getWeakMastery(mastery)">
            <img src="/assets/images/Masteries/Mastery_Budding.png" alt="{{ mastery }}" title="{{ mastery }}"
              *ngIf="getBuddingMastery(mastery)">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>