<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ng-container *ngFor="let classe of classes; let i = index">
            <ion-item (click)="toggleClasseInformations(i)">
              <ion-label>{{ classe.name }}</ion-label>
              <ion-thumbnail slot="end" *ngFor="let proficiencies of classe.proficiencies">
                <img src="/assets/images/Masteries/{{ proficiencies.replace(' ', '_') }}.png" alt="{{  proficiencies }}"
                  title="{{  proficiencies }}">
              </ion-thumbnail>
              <ion-icon name="arrow-dropright" slot="end" *ngIf="!classe.open"></ion-icon>
              <ion-icon name="arrow-dropdown" slot="end" *ngIf="classe.open"></ion-icon>
            </ion-item>

            <ion-grid class="classeDetails" *ngIf="classe.open">
              <ion-row *ngIf="classe.requirements.description">
                <ion-col size="12">
                  <p class="partTitle">Requirements Conditions</p>
                  <ul>
                    <li *ngFor="let requirementsConditions of classe.requirements.description">
                      {{ requirementsConditions }}
                    </li>
                  </ul>
                </ion-col>
              </ion-row>

              <ion-row class="partRow">
                <ion-col size="12">
                  <p class="partTitle">Skills</p>
                </ion-col>
              </ion-row>

              <ion-row class="partRow table">
                <ion-col size="12">
                  <p class="partTitle">Max Stats</p>
                </ion-col>

                <ion-col class="tableCol" size="12">
                  <ion-row class="rowHeader">
                    <ion-col class="colHeader" *ngFor="let maxStat of maxStats">
                      <p>{{ maxStat }}</p>
                    </ion-col>
                  </ion-row>

                  <ion-row class="rowBody">
                    <ion-col class="colBody" *ngFor="let classeMaxStat of classe.maxStatsArray">
                      <p>{{ classeMaxStat }}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-row class="partRow table">
                <ion-col size="12">
                  <p class="partTitle">Growth Rates</p>
                </ion-col>

                <ion-col class="tableCol" size="12">
                  <ion-row class="rowHeader">
                    <ion-col class="colHeader" *ngFor="let growthRate of growthRates">
                      <p>{{ growthRate }}</p>
                    </ion-col>
                  </ion-row>

                  <ion-row class="rowBody">
                    <ion-col class="colBody" *ngFor="let classeGrowthRate of classe.growthRatesArray">
                      <p>{{ classeGrowthRate }}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>