<ng-container *ngIf="cardType === 'character'">
  <ion-card [routerLink]="['/character-details', character.name]">
    <ion-card-header>
      <img src="/assets/images/Characters_Faces/{{ houseNameFile }}/{{ character.name }}_Face.jpg"
        alt="{{ character.name }}" title="{{ character.name }}">
      <ion-card-title>{{ character.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ng-container>

<ng-container *ngIf="cardType === 'classe'">
  <ion-card [routerLink]="['/classe-details', classe.name.replace(' ', '')]">
    <ion-card-header>
      <img src="#" alt="{{ classe.name }}" title="{{ classe.name }}">
      <ion-card-title>{{ classe.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ng-container>