<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ characterDetails.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <img src="/assets/images/Characters_Faces/{{ characterDetails.house.replace(' ', '_') }}/{{ characterDetails.name }}_Face.jpg"
          alt="{{ characterDetails.name }}" title="{{ characterDetails.name }}">
      </ion-col>

      <ion-col size="8" align-self-start>
        <ion-row>
          <ion-col>{{ characterDetails.name }}</ion-col>
        </ion-row>
        <ion-row *ngIf="characterDetails.house">
          <ion-col>House Logo : </ion-col>
          <ion-col>{{ characterDetails.house }}</ion-col>
        </ion-row>
        <ion-row *ngIf="characterDetails.crest">
          <ion-col>Crest Logo : </ion-col>
          <ion-col>{{ characterDetails.crest }}</ion-col> 
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>