/******************************************************************************/
/************************* BYLETH & HOUSES BANNER CSS *************************/
/******************************************************************************/

ion-row {
    &.bylethRow {
        margin-top: 25px;

        img {
            border: thick solid rgba(0, 0, 0, 0);

            &.selectedElement {
                border-color: #333;
            }

        }

        .bylethNameCol {
            margin-top: 15px;
        }
    }

    ion-slides {
        --bullet-background-active: #5264ae;

        .swiper-slide {
            height: 310px;
        }

        ion-slide {
            flex-direction: column;

            img {
                width: 150px;
            }
        }
    }
}

/******************************************************************************/
/****************************** FLOAT BUTTON CSS ******************************/
/******************************************************************************/

ion-fab {
    margin-right: 20px;
    margin-bottom: 20px;

    &.keyboardOpen {
        display: none;
    }

    ion-fab-button {
        &.fabButton {
            --background: #5264ae;
            --background-activated: #485899;
        }

        &.disableFabButton {
            --background: #6374b6;
        }
    }
}