<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ headerContent }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- Configuration/Story's Name -->
    <ion-row>
      <ion-col>
        <div class="group">
          <input type="text" class="basicInput" value="storyObject.name" [(ngModel)]="storyObject.name"
            [ngModelOptions]="{standalone: true}" (input)="setStoryName()" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Configuration/Story's Name</label>
        </div>
      </ion-col>
    </ion-row>

    <!-- Byleth Informations -->
    <ion-row class="bylethRow">
      <ion-col size="12">
        <ion-row text-center>
          <ion-col size="6" *ngFor="let bylethSex of bylethSexChoice">
            <img src="/assets/images/Characters/Portraits/Common/Byleth_{{ bylethSex }}_Portrait.png"
              alt="Byleth {{ bylethSex }}" title="Byleth {{ bylethSex }}" (click)="setBylethSex(bylethSex)"
              [ngClass]="storyObject.byleth.sex === bylethSex ? 'selectedElement' : ''">
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="bylethNameCol">
        <div class="group">
          <input type="text" class="basicInput" value="storyObject.byleth.name" [(ngModel)]="storyObject.byleth.name"
            [ngModelOptions]="{standalone: true}" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Byleth's Name</label>
        </div>
      </ion-col>
    </ion-row>

    <!-- House Choice -->
    <ion-row>
      <ion-slides pager="true" [options]=slideOpts (ionSlideDidChange)="setStoryHouse()" #houseSlides>
        <ion-slide *ngFor="let house of houseChoice">
          <div>
            <img src="/assets/images/Houses/{{ house }}.png" alt="{{ house.replace('_', ' ') }} Banner"
              title="{{ house.replace('_', ' ') }} Banner">
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" [ngClass]="keyboardOpen ? 'keyboardOpen' : ''" slot="fixed"
    *ngIf="statusParameter === 'edit'; else noEdit">
    <ion-fab-button class="fabButton" (click)="applyEdit()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-template #noEdit>
    <ion-fab vertical="bottom" horizontal="end" [ngClass]="keyboardOpen ? 'keyboardOpen' : ''">
      <ion-fab-button [ngClass]="confirmStoryName ? 'fabButton' : 'disableFabButton'"
        [attr.disabled.bool]="!confirmStoryName" (click)="setStoryId()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
</ion-content>