<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ titleHouse }} Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row text-center>
      <ion-col size="6" *ngFor="let student of allStudents">
        <ion-card>
          <ion-card-header>
            <img src="/assets/images/Characters_Faces/{{ titleHouse.replace(' ', '_') }}/{{ student.name }}_Face.jpg"
              alt="{{ student.name }}" title="{{ student.name }}">
            <ion-card-title>{{ student.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- tab="/houses-characters/blackEagles" -->
    <ion-tab-button [routerLink]="['/houses-characters', 'blackEagles']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Black Eagles</ion-label>
    </ion-tab-button>

    <!-- tab="/houses-characters/blueLions" -->
    <ion-tab-button [routerLink]="['/houses-characters', 'blueLions']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Blue Lions</ion-label>
    </ion-tab-button>

    <!-- tab="/houses-characters/goldenDeer" -->
    <ion-tab-button [routerLink]="['/houses-characters', 'goldenDeer']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Golden Deer</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>