
ion-content {

    --padding-bottom: var(--ion-tabs-height);
}

ion-tabs {
    top: auto;

    height: var(--ion-tabs-height);

    ion-tab-bar {

        ion-tab-button {
            color: #000000;
        }
    }
}