<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Stories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let story of allStories" id="story{{ story.id }}">
      <ion-label (click)="newCurrentStory(story)">
        {{ story.name }}
        <span *ngIf="story.id === currentStory.id"><br>Current</span>
      </ion-label>
      <ion-icon name="more" slot="end" (click)="presentPopover($event, story)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/house-choice', 'newStory']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>