<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>All Classes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row text-center>
      <ion-col size="12">
        <p>Initial Classes</p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="6" *ngFor="let initialClasse of initialClasses">
        <app-card [cardType]="'classe'" [classe]="initialClasse" [classeTier]="'initial'"></app-card>
      </ion-col>
    </ion-row>

    <ion-row text-center>
      <ion-col size="12">
        <p>Beginner Classes</p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="6" *ngFor="let beginnerClasse of beginnerClasses">
        <app-card [cardType]="'classe'" [classe]="beginnerClasse" [classeTier]="'beginner'"></app-card>
      </ion-col>
    </ion-row>

    <ion-row text-center>
      <ion-col size="12">
        <p>Intermediate Classes</p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="6" *ngFor="let intermediateClasse of intermediateClasses">
        <app-card [cardType]="'classe'" [classe]="intermediateClasse" [classeTier]="'intermediate'"></app-card>
      </ion-col>
    </ion-row>

    <ion-row text-center>
      <ion-col size="12">
        <p>Advanced Classes</p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="6" *ngFor="let advancedClasse of advancedClasses">
        <app-card [cardType]="'classe'" [classe]="advancedClasse" [classeTier]="'Advanced'"></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>