<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" [routerLink]="['/all-characters']"></ion-icon>
    <ion-title>{{ characterDetails.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs #characterTabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="informations">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Informations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personality">
      <ion-icon name="person"></ion-icon>
      <ion-label>Personlity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classes">
      <ion-icon name="person"></ion-icon>
      <ion-label>Classes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gestion">
      <ion-icon name="options"></ion-icon>
      <ion-label>Gestion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>